.corps{
  display: flex;
  padding: 0 20px;
}
h2{
  text-decoration: underline;
}
.left{
  display: grid;
  width: 50%;
  height: 400px;
  padding: 20px 50px;
  margin: 5px;
  overflow-y: scroll;
  border: 2px dotted gray;
}
.right{
  width: 50%;
  padding: 20px 50px;
  border: 2px dashed gray;
  margin: 5px;
}

@media screen and (max-width:800px) {
  .corps{
    display: grid;
    padding: 0px;
  }
  .left{
    height: 250px;
  }
  .left, .right{
    width: 90%;
    padding: 10px;
    margin: 20px auto;
  }
  h2{
    font-size: 20px;
  }
}