.header{
  text-align: left;
  border-bottom: 1px double gray;
}
.ID{
  font-weight: 700;
  text-decoration: underline;
}
.title:hover{
  background-color: aqua;
}

.body:hover{
  background-color: #f0d22c;
}
.body-text, .title-text{
  font-weight: 400;
  margin-left: 10px;
}